# Aquí se definen las variables para conectarse a la base de datos y a cloudinary. Reemplazar el nombre de este archivo por .env y asignar los valores correspondientes a las variables. 

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Base de datos local
DATABASE_URL="postgresql://usuario_de_la_base_de_datos:contraseña@localhost:5432/nombre_de_la_base_de_datos?schema=public"

# Clave para generar los json web token
JWT_SECRET=flkgdflkgjdg

# Credenciales de cloudinary
CLOUDINARY_CLOUD_NAME=escribir_cloud_name
CLOUDINARY_API_KEY=escribir_api_key
CLOUDINARY_API_SECRET=escribir_api_secret
